*.0
*.a
*.bin
*.bss
*.c32
*.com
*.cp
*.d
*.elf
*.exe
*.gen
*.lnx
*.lo
*.lsr
*.lst
*.map
*.o
*.orig
*.rej
*.s
*.sec
*.sys
*_bin.c
*~
\#*
.\#*
.depend
/com32/lib/sys/vesa/alphatbl.c
/extlinux/extlinux
/memdisk/memdisk
/mtools/syslinux
/release
/sample/syslogo.lss
/linux/syslinux
/linux/syslinux-nomtools
/utils/gethostip
/utils/isohybrid
/utils/mkdiskimage
/version.h
/version.mk
