*.0
*.a
*.bin
*.bss
*.c32
*.com
*.d
*.elf
*.exe
*.gen
*.lnx
*.lo
*.lsr
*.lst
*.map
*.o
*.orig
*.rej
*.s
*.sys
*_bin.c
*~
.depend
com32/lib/sys/vesa/alphatbl.c
extlinux/extlinux
gethostip
memdisk/memdisk
mkdiskimage
mtools/syslinux
release
sample/syslogo.lss
unix/syslinux
unix/syslinux-nomtools
version.h
